:root {
  --background-color: #fff;
  --item-background-color: #f8f8f8;
  --border-color: #e7e7e7;
  --power-text-color: #000;
  --text-color: #333;
  --faded-text-color: #666;
  --accent-color: #ff0000;
}

body {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  /* center the body horizontally */
  margin: 0 auto 3rem;
  padding: 1rem;
  background-color: var(--background-color);
  /* for tab bar to not overlap content */
}

/* code font */
code {
  font-family: "Fira Code", monospace;
}

/* dynamic image sizing */
img, video {
  width: 100%;
  height: auto;
}

/* link style where instead of colored links, links are underlined and the underline floats downwards when hovered */
main a {
  color: var(--power-text-color);
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  text-decoration-thickness: 0.075rem;
  transition: all 0.2s ease-in-out;
}

/* make body 60% on desktop */
/* link style where instead of colored links, links are underlined and the underline floats downwards when hovered */
@media (min-width: 768px) {
  main a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.075rem;
    text-underline-offset: 0.25rem;
    /* text-decoration-color: blue; */
    color: var(--accent-color);
    transition: all 0.2s ease-in-out;
  }

  body {
    max-width: 75%;
  }
}

/* add fancy styling and outline to code blocks */
p code,
li code,
.aside-right code,
.aside-left code,
table code {
  background-color: var(--item-background-color);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 0.1rem 0.3rem;
}

/* add universal line height */
main {
  line-height: 1.75;
}

/* block quote styling */
blockquote {
  margin: 1rem 0;
  padding-left: 1.5rem;
  border-left: 3px solid var(--border-color);
  background-color: var(--item-background-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  color: var(--text-color);
  font-style: italic;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  blockquote {
    font-size: 0.9rem;
  }
}

hr {
  border: 1px solid var(--border-color);
  margin: 1rem 0;
}

/* multiline code block styling */
pre {
  font-family: "Fira Code", monospace;
  background-color: var(--item-background-color);
  border: 1px solid var(--border-color);
  padding: 1rem;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 11pt;
  /* shiki line numbers */
  /* counter-reset: step;
  counter-increment: step calc(var(--start, 1) - 1); */
}

pre code {
  background-color: inherit;
  border: none;
  border-radius: 0;
  padding: 0;
}

/* shiki line numbers */
/* pre code .line:before {
  counter-increment: step;
  content: counter(step);
  display: inline-block;
  width: 2em;
  margin-right: 1em;
  color: #525053;
} */

/* copy button */
pre.astro-code {
  position: relative;
}

pre.astro-code > .copy-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--item-background-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 0.4rem 0.3rem 0.2rem 0.3rem;
  font-size: 0.8rem;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
}

.fade-in {
  animation: fade-in 2s;
}

/* table styles */
table {
  border-collapse: collapse;
  margin-bottom: 1rem;
}

table th,
table td {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 0.75rem;
  text-align: left;
  border: 1px solid var(--border-color);
  background-color: var(--item-background-color);
  color: var(--text-color);
}

table th {
  font-weight: 600;
  background-color: var(--background-color);
  color: var(--power-text-color);
}

table tbody tr:hover {
  background-color: var(--faded-text-color);
  color: var(--background-color);
}

table tbody tr:hover td,
table tbody tr:hover th {
  background-color: var(--accent-color);
  color: var(--background-color);
}

table thead th {
  border-bottom: 1px solid var(--border-color);
}

table tfoot td {
  border-top: 1px solid var(--border-color);
}

/* responsive table for larger screens */
@media screen and (min-width: 769px) {
  table {
    width: 100%;
  }
}

/* responsive table for mobile */
table {
  width: 100%;
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 12px;
}

table::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--border-color);
}

/* task list styling */
.contains-task-list {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  /* margin: 0; */
  /* padding: 0; */
  list-style-type: none;
}

.contains-task-list li {
  line-height: 1.6;
  display: flex;
  align-items: center;
}

.contains-task-list li input[type="checkbox"] {
  margin-right: 0.5rem;
}

.contains-task-list li label {
  color: var(--text-color);
  font-weight: 600;
  flex: 1;
}

.contains-task-list li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: var(--faded-text-color);
}

.contains-task-list li button {
  background-color: var(--accent-color);
  color: var(--background-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contains-task-list li button:hover {
  background-color: #e60000;
}

/* asides styling */
.aside-left {
  /* inline by default because of mobile */
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  list-style-type: none;
  background-color: var(--item-background-color);
  /* padding: 1rem; */
  border: 1px solid var(--border-color);
}

.aside-right {
  /* inline by default because of mobile */
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  list-style-type: none;
  background-color: var(--item-background-color);
  /* padding: 1rem; */
  border: 1px solid var(--border-color);
}

/* desktop aside styling */
@media screen and (min-width: 769px) {
  .aside-left p, .aside-right p {
    margin: 0;
    padding: 0;
  }
  .aside-left {
    float: left;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    width: 30%;
    background-color: var(--item-background-color);
    border: 1px solid var(--border-color);
  }

  .aside-right {
    float: right;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    width: 30%;
    background-color: var(--item-background-color);
    border: 1px solid var(--border-color);
  }

  .aside-left img, .aside-right img {
    width: 100%;
  }

}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111;
    --item-background-color: #222;
    --border-color: #444;
    --power-text-color: #fff;
    --text-color: #eee;
    --faded-text-color: #999;
    --accent-color: #ff6600;
  }
}

/* work card styling */
.astro-icon {
  width: 12px;
  height: 12px;
  margin-bottom: -2px;
  background: url("https://api.iconify.design/simple-icons/astro.svg") no-repeat
    center center / contain;
  content: url("https://api.iconify.design/simple-icons/astro.svg");
  filter: invert(0%) sepia(5%) saturate(144%) hue-rotate(317deg) brightness(87%) contrast(87%);
}

@media (prefers-color-scheme: dark) {
  .astro-icon {
    filter: invert(88%) sepia(100%) saturate(138%) hue-rotate(197deg) brightness(107%) contrast(101%);
  }
}

/* make blog-cards wider on larger screens */
/* @media (min-width: 1280px) {  .blog-card {    max-width: 800px;  }} */
/* blog banner styling */
hr {
  border: 0;
  border-top: 1px solid var(--border-color);
  margin: 2rem 0;
}

.image-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0.5rem 1rem;
}

.image-banner {
  max-width: 600px;
  max-height: 200px;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  background-color: var(--item-background-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 1px solid var(--border-color);
  padding: 10px;
  position: relative;
}

/* work banner styling */
article {
  margin-top: 24px;
}

sup a {
  color: var(--faded-text-color);
  text-decoration: none;
}

.data-footnote-backref {
  color: var(--faded-text-color);
  text-decoration: none;
}

.last-updated-on {
  font-size: 0.8rem;
  color: var(--faded-text-color);
  display: flex;
  justify-content: center;
  padding-top: 0.75rem;
}

.smaller-font {
  font-size: 0.2rem;
}

code {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }

/* this doesn't work in the astro component */
.card-description a {
  color: var(--faded-text-color);
}

.card-description a:hover {
  color: var(--accent-color);
}

.no-posts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  color: var(--faded-text-color);
}