---
import Card from '../components/Card.astro';
import Main from '../components/Main.astro';
import {Content as Index} from '../components/pages/index.md';
---

<meta charset="utf-8" />
<!DOCTYPE html>
<html lang="en">
	<Main page_title="MIRTH">
		<Index />
	</Main>
</html>