---
import Main from '../components/Main.astro';
import {Content as Info} from '../components/pages/info.md';
---

<meta charset="utf-8" />
<!DOCTYPE html>
<html lang="en">
	<Main page_title="INFO">
		<Info />
	</Main>
</html>