---
import Main from '../components/Main.astro';
import {Content as Now} from '../components/pages/now.md';
---

<meta charset="utf-8" />
<!DOCTYPE html>
<html lang="en">
	<Main page_title="MIRTH.CC/NOW">
		<Now />
	</Main>
</html>