---
import HeaderLink from "../header/HeaderLink.astro";
import { SITE_TITLE } from "../../consts";
---

<header class="header">
  <a class="header__title-link" href="/">
    [{SITE_TITLE}]
  </a>
  <div class="header__navbar">
    <nav class="nav">
      <ul class="nav__list">
        <!-- <li><HeaderLink href="/">HOME</HeaderLink></li> -->
        <li class="nav__list-item"><HeaderLink class="nav__link" href="/blog">BLOG</HeaderLink></li>
        <li class="nav__list-item"><HeaderLink class="nav__link" href="/work">WORK</HeaderLink></li>
        <li class="nav__list-item"><HeaderLink class="nav__link" href="/info">INFO</HeaderLink></li>
      </ul>
    </nav>
  </div>
</header>
<style>
  .header__title-link {
    text-decoration: none;
    color: inherit;
    font-size: x-large;
    font-family: "Fira Code", monospace;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .header__navbar-spacer {
    width: 0.75rem;
  }

  .nav {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--item-background-color);
    border-top: 1px solid var(--border-color);
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .nav__list-item {
    padding: 0.75rem 0;
    flex: 1;
    text-align: center;
  }

  .nav__link {
    display: block;
    color: var(--faded-text-color);
    text-decoration: none;
    cursor: pointer !important;
  }

  /* THIS SUCKS — but because firefox cant handle its shit, we have to do this so the navbar is bearable on firefox */
  @-moz-document url-prefix() {
    .nav__link.active {
      pointer-events: none;
    }
  }

  .nav__link.active {
    color: var(--power-text-color);
    font-weight: bold;
    position: relative;
    cursor: pointer !important;
  }

  .nav__link.active::before {
    content: "[";
    position: relative;
  }

  .nav__link.active::after {
    content: "]";
    position: relative;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.25rem;
    margin-top: 1rem;
  }

  .nav {
    padding-bottom: 0.5rem;
  }

  @media all and (display-mode: standalone) {
    .nav {
      padding-bottom: 1rem;
    }
  }

  @media screen and (min-width: 768px) {
    .header__title-link {
      margin: 0;
    }

    .nav {
      all: unset;
      position: relative;
      display: flex;
      justify-content: flex-end;
      background-color: transparent;
      border-top: none;
      padding-bottom: 1.5rem;
    }

    .nav__list {
      width: 15rem;
    }

    .nav__list-item {
      margin-top: 0.2rem;
      padding: 0;
    }

    .header {
      margin-top: 4rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem;
    }
  }
</style>
