---
import { AUTHOR_NAME } from "../consts";

const today = new Date();
---

<footer>
  <div class="links">
    <!-- github -->
    <a class="link link--monospace link--glowing" href="https://www.github.com/lumirth" target="_blank" rel="noopener noreferrer">
      GITHB
    </a>
    <!-- linkedin -->
    •
    <a class="link link--monospace link--glowing" href="https://www.linkedin.com/in/lumirth" target="_blank" rel="noopener noreferrer">
      LKDIN
    </a>
    •
    <!-- email -->
    <a class="link link--monospace link--glowing" href="mailto:lu[at]mirth[dot]cc" target="_blank" rel="noopener noreferrer">
    EMAIL
  </a>
</div>
  <div class="copyright">
    &copy; {today.getFullYear()} {AUTHOR_NAME}
  </div>
</footer>
<style>
	
/* footer styling */
footer {
  /* font-weight: lighter; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom:1rem;
}
@media screen and (min-width: 768px) {
footer {
    align-items: unset;
    justify-content: unset;
    padding-bottom: 2.5rem;
  }
}

.copyright {
  flex-shrink: 0;
}

.links {
  font-family: "Fira Code", monospace;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  gap: 0.5rem;
}

</style>
