---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="mirth-header">
  <a class="titlelink" href="/">
      [{SITE_TITLE}]
  </a>
  <div class="navbar">
    <nav>
      <ul>
        <!-- <li><HeaderLink href="/">HOME</HeaderLink></li> -->
        <li><HeaderLink href="/blog">BLOG</HeaderLink></li>
        <li><HeaderLink href="/work">WORK</HeaderLink></li>
        <li><HeaderLink href="/info">INFO</HeaderLink></li>
      </ul>
    </nav>
  </div>
</header>
<style>
  /* nav styling */
.titlelink {
  text-decoration: none;
  color: inherit;
  font-size: x-large;
  font-family: "Fira Code", monospace;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.navbar-spacer {
  width: 0.75rem;
}

nav {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--item-background-color);
  border-top: 1px solid var(--border-color);
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  padding: 0.75rem 0;
  flex: 1;
  text-align: center;
}

nav a {
  display: block;
  color: var(--faded-text-color);
  text-decoration: none;
  cursor: pointer !important;
}

/* THIS SUCKS — but because firefox cant handle its shit, we have to do this so the navbar is bearable on firefox */
@-moz-document url-prefix(){
  nav a.active {
  pointer-events: none;
  }
}


nav a.active {
  color: var(--power-text-color);
  font-weight: bold;
  position: relative;
  cursor: pointer !important;
}

nav a.active::before {
  content: "[";
  position: relative;
  top: -0.068rem;
}

nav a.active::after {
  content: "]";
  position: relative;
  top: -0.068rem;
}

.mirth-header {
  /* align items with one to the left and one to the right */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.25rem;
  margin-top: 1rem;
}

/* for desktop, make the nav bar on the top */
/* in its normal position */
/* right-aligned with the title */
@media screen and (min-width: 768px) {

  /* right align the nav */
  /* make spacing between buttons constant */
.titlelink {
    margin: 0;
  }

  nav {
    all: unset;
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    border-top: none;
    ;
    /* fix the spacing under the nav so it doesn't jump when scaling */
    padding-bottom: 1.5rem;
  }

  /* fix the nav bar width */
  nav ul {
    width: 15rem;
  }

  nav li {
    margin-top: 0.2rem;
    padding: 0;
  }

  .mirth-header {
    /* margin-top:1.9rem; */
    margin-top: 4rem;
    /* align items with one to the left and one to the right */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    /* align to center */
  }
}

</style>